@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend:wght@100..900&family=Madimi+One&family=Nunito+Sans:wght@200;400;500;600;700;800&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sigmar&display=swap');
@import "tailwindcss";
@plugin "tailwind-scrollbar";

@theme {
    --color-primary: #262C32;
    --color-fblack: #111111;
    --color-fgray: #484848;
    --font-inter: "Inter";
}

#sec1,
#sec2,
#sec3,
#sec4,
#sec5,
#sec6,
#sec7 {
  scroll-margin-top: 60px; /* Adjust this value to match your sticky navbar's height */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.progress-ring__circle {
  transition: stroke-dashoffset 0.4s ease-out;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.group:hover .progress-ring__circle {
  stroke-dashoffset: 0;
}

.mega-menu {
  transform: translateY(10px); /* Start slightly lower for a subtle upward slide effect */
}

.group-hover\:visible {
  visibility: visible;
}

.group-hover\:opacity-100 {
  opacity: 1;
}

.group-hover\:translate-y-0 {
  transform: translateY(0);
}